body {
    background-color: rgb(172, 184, 164);
    padding: 0%;
    margin: 0%;
}

h1 {
    text-align: center;
    color: rgb(39, 44, 35);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    margin-top: 1%;
    margin-bottom: .5%;
}

h2 {
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#showAll, #forSale, #forRent {
    font-size: 30px;
    margin: .6em;
    margin-top: 0%;
    margin-bottom: 0%;
    border-color: rgb(91, 104, 82);
    border-radius: 8px;   
}

#addListing {
    border-color: rgb(91, 104, 82);
    border-radius: 8px;   
}

#showAll:hover, #forSale:hover, #forRent:hover {
    color: rgb(155, 97, 51)
}

#addListing:hover {
    color: rgb(155, 97, 51)
}

.btns {
    text-align: center;
}

span {
    display: inline-block;
}

span {
    border: 3px solid rgb(58, 57, 57);
    margin: 30px;
    background-color: whitesmoke;
    box-shadow: 5px 5px rgb(78, 78, 78);
}

.inputDiv {
    background-color: rgb(91, 104, 82);
    padding: 2%;
    margin-top: 1%;
    text-align: center;
}

.center {
    text-align: center;
}

#featuredOut {
    background-color: rgb(209, 218, 188);
    padding: 25px;
    border-top: 3px solid rgb(58, 57, 57);
    border-bottom: 3px solid rgb(58, 57, 57);
    margin: 0%;
}

ul {
    list-style-type: none;
}

#card-body {
    background-color: white;
}

.userInputs {
    width: 15%;
    font-size: 20px;
}